<?xml version="1.0"?>
<robot name="Interference">
  <link name="baseLink">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0"/>
      <mass value="0"/>
    </inertial>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 1.078472011955875"/>
      <geometry>
        <cylinder radius="0.04515245596463336" length="0.01"/>
      </geometry>
      <material name="color">
        <color rgba="0.6791884135947412 0.26162053780197136 0.41064109052292574 1.0"/>
      </material>
    </visual>
  </link>
</robot>