<?xml version="1.0"?>
<robot name="Interference">
  <link name="baseLink">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0"/>
      <mass value="0"/>
    </inertial>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 -0.7375803559201972"/>
      <geometry>
        <cylinder radius="0.0453613240074293" length="0.01"/>
      </geometry>
      <material name="color">
        <color rgba="0.18369941486949581 0.12460859891350651 0.42196973472238775 1.0"/>
      </material>
    </visual>
  </link>
</robot>