<?xml version="1.0"?>
<robot name="Interference">
  <link name="baseLink">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0"/>
      <mass value="0"/>
    </inertial>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 -0.2670755035511001"/>
      <geometry>
        <cylinder radius="0.07516587987711723" length="0.01"/>
      </geometry>
      <material name="color">
        <color rgba="0.0016160865005562242 0.6297632733055035 0.3947488290717397 1.0"/>
      </material>
    </visual>
  </link>
</robot>