<?xml version="1.0"?>
<robot name="Interference">
  <link name="baseLink">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0"/>
      <mass value="0"/>
    </inertial>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.7364248383615015"/>
      <geometry>
        <box size="0.06425518010910479 0.05281554062913215 0.01"/>
      </geometry>
      <material name="color">
        <color rgba="0.8110750585864 0.2356930794212697 0.5804075245039645 1.0"/>
      </material>
    </visual>
  </link>
</robot>