<?xml version="1.0"?>
<robot name="Interference">
  <link name="baseLink">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0"/>
      <mass value="0"/>
    </inertial>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 -0.5415418360598337"/>
      <geometry>
        <cylinder radius="0.07393105601701273" length="0.01"/>
      </geometry>
      <material name="color">
        <color rgba="0.7701739939695726 0.943368746216884 0.8861295072114816 1.0"/>
      </material>
    </visual>
  </link>
</robot>