<?xml version="1.0"?>
<robot name="Interference">
  <link name="baseLink">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0"/>
      <mass value="0"/>
    </inertial>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.17484157513558873"/>
      <geometry>
        <box size="0.03700889288625013 0.07039124363494176 0.01"/>
      </geometry>
      <material name="color">
        <color rgba="0.8925014592004947 0.09231387923170065 0.6746648322345404 1.0"/>
      </material>
    </visual>
  </link>
</robot>