<?xml version="1.0"?>
<robot name="Interference">
  <link name="baseLink">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0"/>
      <mass value="0"/>
    </inertial>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 -1.0620397630354987"/>
      <geometry>
        <cylinder radius="0.07361482244849156" length="0.01"/>
      </geometry>
      <material name="color">
        <color rgba="0.7066323289086676 0.8188971097156672 0.7921170403951954 1.0"/>
      </material>
    </visual>
  </link>
</robot>