<?xml version="1.0"?>
<robot name="Interference">
  <link name="baseLink">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0"/>
      <mass value="0"/>
    </inertial>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.635496872152336"/>
      <geometry>
        <box size="0.11225061488894118 0.036213844646559634 0.01"/>
      </geometry>
      <material name="color">
        <color rgba="0.8381043853630386 0.8481240892016817 0.5048915516062497 1.0"/>
      </material>
    </visual>
  </link>
</robot>