<?xml version="1.0"?>
<robot name="Interference">
  <link name="baseLink">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0"/>
      <mass value="0"/>
    </inertial>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 -0.7110477193435706"/>
      <geometry>
        <box size="0.1357899096414716 0.11109197236081499 0.01"/>
      </geometry>
      <material name="color">
        <color rgba="0.11368973355905554 0.79174943049836 0.9696563516383603 1.0"/>
      </material>
    </visual>
  </link>
</robot>