<?xml version="1.0"?>
<robot name="Interference">
  <link name="baseLink">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0"/>
      <mass value="0"/>
    </inertial>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.9533943145621491"/>
      <geometry>
        <box size="0.03103005789639992 0.12093673444408819 0.01"/>
      </geometry>
      <material name="color">
        <color rgba="0.32632558834622616 0.6553736223380825 0.10609538582633171 1.0"/>
      </material>
    </visual>
  </link>
</robot>