<?xml version="1.0"?>
<robot name="Interference">
  <link name="baseLink">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0"/>
      <mass value="0"/>
    </inertial>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.7349895003975719"/>
      <geometry>
        <box size="0.04921940899963432 0.03416832307022685 0.01"/>
      </geometry>
      <material name="color">
        <color rgba="0.24714167100081408 0.20990624331489982 0.716481980517798 1.0"/>
      </material>
    </visual>
  </link>
</robot>