<?xml version="1.0"?>
<robot name="Interference">
  <link name="baseLink">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0"/>
      <mass value="0"/>
    </inertial>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 -0.6605443413963689"/>
      <geometry>
        <box size="0.12001808180523993 0.09132461544314197 0.01"/>
      </geometry>
      <material name="color">
        <color rgba="0.46623380039664586 0.716669455739033 0.10374669822690374 1.0"/>
      </material>
    </visual>
  </link>
</robot>